{% extends 'base.html.twig' %}

{% block title %} Edit your profile {% endblock %}

{% block body %}

<h1> {% trans %} Edit your profile {% endtrans %} </h1>

    {{ form_start(accountForm) }}
        {{ form_row(accountForm.fName, {
            label: 'First name'
        }) }}
        {{ form_row(accountForm.lName, {
            label: 'Last name'
        }) }}
        {{ form_row(accountForm.email, {
            label: 'E-mail'
        }) }}
        {{ form_row(accountForm.birthDate, {
            label: 'Birth date'
        }) }}
        {{ form_row(accountForm.locale, {
            label: 'Language'
        }) }}

        <button type="submit"> {% trans %} Save {% endtrans %} </button>
    {{ form_end(accountForm) }}
{% endblock %}
