{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{  movie.title }}</h1>
        
    {% if movie.poster|default %}
        <img src="{{ asset('uploads/images/' ~ movie.poster)|imagine_filter('thumbnail_medium') }}"> <br />
    {% endif %}

    {{ movie.description|raw }} <br />
    {{ duration(movie.duration) }} <br />
    {{ movie.premiere|date('d') }}
    {{ movie.premiere|date('F') }}
    {{ movie.premiere|date('Y') }} <br />
    
    {% trans %} Genre {% endtrans %}
    {% for genre in movie.genre %}
        {{ genre.name }}
    {% endfor %}

    {% trans %} Cast {% endtrans %}
    {% for actor in movie.actors %}
        {{ fullName(actor.fName, actor.lName) }}
    {% endfor %}

{% endblock %}